.banner{
    position: relative;
    width: 80%;
    margin: auto;
}
.banner_img{
    width: 100%;
    border-radius: 5px;
}
@media screen and (max-width:600px) {
    .banner p{
        position: absolute;
        color: purple;
        font-size: 25px;
        font-weight: 600;
        top : 25%;
        width: 90% ;
        text-align: center;
    }
}
@media screen and (min-width:601px) {
    .banner p{
        position: absolute;
        color: purple;
        font-size: 25px;
        font-weight: 600;
        top : 50%;
        width: 90% ;
        text-align: center;
    }
}

.user{
    width : 20%;
    border-radius: 100%;
}

.accordion{
    width: 75%;
    margin: auto;
}
