.logo
{
    width: 70px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.cot1 p{
    margin-left: 10px;
    margin-top: 15px;
    line-height: 25px;
}

.cot1 h4{
    margin-top: 20px;
    color : lightyellow;
}

.cot1 hr{
    border: 5px solid rgb(19, 131, 192);
    width: 45%;
    margin-left: 10px;
}

.cot2 h4{
    margin-top: 20px;
    color: lightyellow;
}

.cot2 hr{
    border: 5px solid rgb(19, 131, 192);
    width: 50%;
}

.cot2 ul{
    list-style: none;
    line-height: 30px;
}

.cot2 ul .a{
    text-decoration: none;
    color: cyan;
}

.cot2 ul .a:hover{
    color: white;
}


.fb{
    color: #3b5998;
    font-size: 25px;
}

.is{
    color: #fff;
    font-size: 25px;
    border-radius: 7px;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.tw{
    color: #1DA1F2;
    font-size: 25px;
}

.cot3 h4{
    color: lightyellow;
    margin-top: 20px;
}

.cot3 hr{
    border: 5px solid rgb(19, 131, 192);
    width: 85%;
}

.cot3 ul{
    list-style: none;
}

.cot3 ul li{
    margin-top: 10px;
}

.cot3 ul .a{
    text-decoration: none;
    color: cyan;
}

.cot3 ul .a:hover{
    color: white;
}

.cot4 h4{
    color: lightyellow;
    margin-top: 20px;
}

.cot4 hr{
    border: 5px solid rgb(19, 131, 192);
    width: 28%;     
}
 
.cot4 input{
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.cot4 i{
    background-color: yellow;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 8.5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -35px;
    border-bottom: solid 1px black;
}

.cot4 p{
    margin-top: 20px;
}
.sub-btn{
    width:70%;
}

@media screen and (max-width:600px) {
    .sub-icon{
        margin-left: 5px;
    }
    .sub-btn{
        width:100%;
    }
    .cot4 input{
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-left: 5%;
}
}