.nd1{
    background-image:url('../Images/nd1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    height: 500px;
    width: 100%;
}

.nd1 h3{
    padding-top: 220px;
}

.nd2{
    margin-top: 2%;
}
.nd2 > div:nth-child(1){
    background-image: url('/src/Images/presentation1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.nd2_col1_content{
    margin: auto;   
}
.pr2{
    background-image: url('/src/Images/presentation2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.anhmh{
    width: 100%;
}

.nd3{
    margin-top: 2%;
}

.icon{
    width: 70px;
    height: 70px;
}

.nd4{
    margin-top: 2%;
}

.gd{
    color : purple
}

.ht{
    color : red;
}

.nd5{
    background-color: black;
    display:flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
}
