.button_fix{
    padding: 5px;
    border-radius: 5px;
}
.button_delete{
    padding: 5px;
    border-radius: 5px;
}

.TopPostPage{
    border: 1px black solid;
    border-radius: 15px;
    width: 50%;
    margin: auto;
    margin-top: 2%;
}

.title{
    border-bottom: solid 1px #000000 ;
}
.post_content{
    display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px; /* Adjust the gap between items as needed */
  width: 100%;
}
.post{
    background-color: #72b791;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: 5px;
    min-width: 20%;
}
@media screen and (max-width:600px) {
    .PostPage{
    width: 100%;
}


.profileImg{
    width: 60px;
    height: 60px;
    margin-top: 3px;
}
.post-title{
    font-size: 25px;
    color: blue;
    margin: auto;
}



.dock{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    color : white;
    margin-left: 5px;
    margin-right: 5px;
}
.posted-title{
    color: white;
    font-weight: bold;
}
}


@media screen and (min-width:601px) {
    .PostPage{
        width: 100%;
    }

    .profileImg{
        width: 60px;
        height: 60px;
        margin-top: 3px;
    }
    .post-title{
        font-size: 25px;
        color: blue;
        margin: auto;
    }
.dock{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    color : white;
    margin-left: 5px;
    margin-right: 5px;
}
.posted-title{
    color: white;
    font-weight: bold;
}
}