.dangnhap{
    
}
.tk
{
    display: block;
    width: 40%;
    margin-bottom: 2px;
    border-radius: 5px;
}
.mk
{
    width: 40%;
        border-radius: 5px;
}
.nut
{
    margin-top: -35px;
    margin-left: 20px;
}